<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" prefix="og: http://ogp.me/ns#">
<head>
  {% block head %}
    <title>{{ SITENAME }} - {% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_extra %}{% endblock %}

    {% assets filters="libsass,cssmin", output="css/style.min.css", "css/style.sass", "css/programme.sass" %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endblock head %}
</head>

<body id="{{ output_file.split('/')[-1].split('.')[0] }}">
  <header>
    <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    {% block header %}{% endblock header %}
  </header>

  <nav id="menu">
    <ul>
      {% for title, link in MENUITEMS %}
        <li{% if link == '/' + output_file %} class="active"{% endif %}>
          <a href="{{ link }}">{{ title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% block content %}{% endblock %}

  {% block partners %}
  <div class="partners">
    <h2>Nos partenaires</h2>
    <h3>Platine</h3>
    <p>
      <a href="http://netsach.com/"><img src="../images/logo_netsach.png" alt="logo de Netsach" /></a>
    </p>
    <h3>Or</h3>
    <p>
      <a href="https://www.logilab.fr/"><img src="../images/logo_logilab.png" alt="logo de Logilab" /></a>
      <a href="https://www.itlink.fr/"><img src="../images/logo_itlink.png" alt="logo d'IT Link" /></a>
      <a href="https://makina-corpus.com/"><img src="../images/logo_makina_corpus.png" alt="logo de Makina Corpus" /></a>
      <a href="http://www.people-doc.fr/"><img src="../images/logo_people_doc.png" alt="logo de People Doc" /></a>
    </p>
    <h3>Bronze</h3>
    <p>
      <a href="https://anybox.fr/"><img src="../images/logo_anybox.png" alt="logo d'Anybox" /></a>
      <a href="http://www.ecreall.com/"><img src="../images/logo_nova_ideo.svg" alt="logo de Nova Ideo" /></a>
      <a href="https://bearstech.com/"><img src="../images/logo_bearstech.jpg" alt="logo de Bearstech" /></a>
      <a href="https://www.yaal.fr/"><img src="../images/logo_yaal.png" alt="logo de Yaal" /></a>
      <a href="https://www.algoo.fr/"><img src="../images/logo_algoo.jpg" alt="logo d'Algoo" /></a>
    </p>
  </div>
  {% endblock %}

  <footer>
    <ul>
      {% for title, link in SOCIAL %}
        <li>
          <a class="{{ title | lower }}" href="{{ link }}">{{ title }}</a>
        </li>
      {% endfor %}
    </ul>
    <p>
      © {{ SITENAME }}
    </p>
    <p>
      Développé avec <a href="http://blog.getpelican.com/">Pelican</a>.
    </p>
  </footer>
</body>
</html>
