<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" prefix="og: http://ogp.me/ns#">
<head>
  {% block head %}
    <title>{{ SITENAME }} - {% block title %}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page is defined %}
    {% if page.og_url %}<meta property="og:url" content="{{ page.og_url}}" />{% endif %}
    {% if page.og_type %}<meta property="og:type" content="{{ page.og_type}}" />{% endif %}
    {% if page.og_title %}<meta property="og:title" content="{{ page.og_title}}" />{% endif %}
    {% if page.og_description %}<meta property="og:description" content="{{ page.og_description}}" />{% endif %}
    {% if page.og_image %}<meta property="og:image" content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/{{ page.og_image}}" />{% endif %}
    {% endif %}

    {% assets filters="libsass,cssmin", output="css/style.min.css", "css/style.sass" %}
      <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
    {% endassets %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
  {% endblock head %}
</head>

<body id="{{ output_file.split('/')[-1].split('.')[0] }}">
  <header>
    <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
    {% block header %}{% endblock header %}
  </header>

  <nav id="menu">
    <ul>
      {% for title, link in MENUITEMS %}
        <li{% if link == '/' + output_file %} class="active"{% endif %}>
          <a href="{{ link }}">{{ title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% block content %}{% endblock %}

  <footer>
    <ul>
      {% for title, link in SOCIAL %}
        <li>
          <a class="{{ title | lower }}" href="{{ link }}">{{ title }}</a>
        </li>
      {% endfor %}
    </ul>
    <p>
      © {{ SITENAME }}
    </p>
    <p>
      Développé avec <a href="http://blog.getpelican.com/">Pelican</a>.
    </p>
  </footer>
</body>
</html>
