/* VARIABLES */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700')
$primary: #c4130e
$secondary: #212e54

=button
  background: $primary
  color: #fff
  font-weight: 600
  padding: 1em 2em
  text-decoration: none
  transition: background .3s

  &:hover
    background: lighten($primary, 5%)

=link
  color: $secondary
  transition: color .3s

  &:hover
    color: lighten($secondary, 8%)


html
  display: flex
  font-family: 'Work Sans', sans-serif
  min-height: 100%
  min-width: 100%

body
  display: flex
  flex-direction: column
  margin: 0
  min-height: 100%
  min-width: 100%

  &:not(#index)
    .section, section
      table
        border: 1px solid #BDC6CA
        border-collapse: collapse
        margin: 0 auto

        thead
          vertical-align: middle

        tbody
          text-align: center

          td
            padding: 1em

          tr:nth-child(odd)
            background: darken(#f6f9fa, 5%)

      ul
        line-height: 2em

      footer.post-info
        margin-bottom: 1em

  > *
    box-sizing: border-box
    margin: 0 auto
    max-width: 1200px
    padding: 0.5em 2%
    width: 100%

  > header, > nav, > footer
    flex-grow: 0
    max-width: none
    padding: 0

  > nav, > footer
    display: flex

    ul
      display: flex
      flex-wrap: wrap
      padding: 0

      li
        display: block

        a
          display: block
          padding: 0.5em 1em

    h1
      margin: 0

      a
        padding: 0 2em

  iframe
    border: 0
    height: 30em
    width: 100%

  img
    max-width: 100%

  h1
    display: none

  p
    line-height: 1.5em

    a, a:active
      color: #218ce0

  header
    order: -2
    position: static

    h1
      display: block
      text-align: center

      a
        color: transparent
        font-size: 0

        &:before
          content: url(../images/logo2017.svg)

  nav
    align-items: center
    background: $primary
    box-sizing: border-box
    justify-content: center
    margin-left: 0
    margin-right: 0
    min-height: 80px
    padding: 0.5em 1em
    width: auto

    ul li
      a
        color: #fff
        text-decoration: none
        transition: color .4s

      &.active
        border-bottom: 1px solid #000
        font-weight: 600

        a
          color: #000

      &:hover
        a
          color: #000

  .reference.external
    +link

  h2
    color: $primary
    font-size: 2em

    a
      color: $primary
      text-decoration: none

  #post-list li
    list-style: none

footer
  background: #000
  background-clip: content-box
  color: #fff
  justify-content: center
  margin-left: 0
  margin-right: 0
  margin-top: auto

  a
    color: #fff
    font-weight: 600
    text-decoration: none
    transition: color .4s

    &:hover
      color: $primary

  p
    padding: 0.5em 1em

    a
      color: #fff

#index
  header
    height: 0
    z-index: 10

  h1.catchline
    border: 1px solid #fff
    display: inline-block
    color: white
    margin-top: 0
    font-size: 1.2em
    font-weight: 500
    padding: 1em 2em
    text-align: center
    text-transform: uppercase

  .inscription
    +button

  section:first-of-type
    background: url(../images/header_bg.jpg) center no-repeat
    background-size: cover
    color: #fff
    margin-left: 0
    margin-right: 0
    max-width: none
    order: -1
    padding: 230px 1em 0 1em
    text-align: center
    position: relative

    > *
      max-width: 1200px
      margin: 1em auto

    h2
      color: #fff
      font-size: 2.5em
      font-weight: 600
      position: relative

    p
      font-size: 1.1em
      line-height: 1.8em
      margin-bottom: 0
      position: relative

    a
      color: #f6f2f0
      font-weight: 600
      text-decoration: none
      transition: color .5s
      text-decoration: underline

      &:hover
        color: lighten($secondary, 5%)

    &:after
      content: ''
      display: block
      height: 50px
      width: 100%

    &:before
      content: ''
      position: absolute
      display: block
      height: 100%
      width: 100%
      left: 0
      top: 0
      background-color: rgba(0,0,0,0.3)

  section:last-of-type
    h2 a
      color: $primary
      text-decoration: none

    ul
      list-style: none
      margin-left: 0

    li
      display: inline-block

    .soutien
      +button

  section.soutiens
    ul
      padding: 0
      max-width: inherit

#soutiens
  #partenaires
    .section
      float: left
      margin-right: 25px
      text-align: center
      width: 300px

  #coeur
    .section
      float: left
      margin-right: 25px
      text-align: center
      width: 300px

.section.confs
  h2
    float: left
    margin-bottom: 50px

.programme
  th:nth-child(odd)
    background: darken(#f6f9fa, 5%)

  th, th:nth-child(1)
    background: #f6f9fa

  td, th
    font-weight: 500
    padding: 0.8em
    vertical-align: middle
    width: 20%

  .slot
    width: 10%

  .break
    font-weight: 600
    text-align: center
    text-transform: uppercase
    vertical-align: middle

  .short
    background-color: #6D90BB
    color: #fff

  .long
    background-color: #475F7A
    color: #fff

  .workshop
    background-color: #e2e7e9
    width: 15%

    a
      color: black !important

    a:hover
      color: gray !important

  .workshop + .workshop
    border-left: 1px solid white

  .special
    background-color: $secondary
    color: white
    text-align: center
    text-transform: uppercase
    vertical-align: middle

    a
      color: #fff

  .title
    font-size: 1.1em
    margin-bottom: .5em

    a
      color: white
      font-weight: 400
      text-decoration: none

  .person
    font-size: 0.8em

    a
      color: #fff

  a:hover
    color: #e2e7e9 !important

  &.home
    th, td
      font-weight: 400
      text-align: center
      vertical-align: middle
      width: 25%

    th
      background-color: $primary
      color: #fff
      font-weight: 500

  .programme.legende
    float: right
    font-size: 12pt
    margin-bottom: 20px !important
    width: 300px

    th, td
      color: white
      padding: 0.3em !important
      text-align: center
      text-transform: uppercase

    th, .workshop
      color: black

  .interventions
    margin: 0 auto
    max-width: 800px

    .title
      background-color: #218ce0
      color: white
      font-family: Hind
      font-size: 1.2em
      margin-top: 40px
      padding: 0.8em
      text-transform: uppercase
      width: 100%

    .description
      margin-top: 10px
      white-space: pre-line

    .description:after
      background: url(../images/separateur_pyconfr.svg)
      background-position: 50% 50%
      background-size: contain
      background-repeat: no-repeat
      content: ''
      display: block
      height: 34px
      margin-bottom: 40px
      margin-top: 30px
      width: 100%

@media screen and (max-width: 640px)
  body
    footer
      flex-direction: column
      align-items: center

      > *
        margin: 0

    nav ul
      margin: 100px 0 0 0

.partners
  text-align: center

  img
    max-height: 100px
    vertical-align: middle
