/* VARIABLES */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700')
$primary: #e5088d
$secondary: #18a7b2

=button
  background: $primary
  color: #fff
  font-weight: 600
  padding: 1em 2em
  text-decoration: none
  transition: background .3s

  &:hover
    background: lighten($primary, 5%)

=link
  color: $secondary
  transition: color .3s

  &:hover
    color: lighten($secondary, 8%)


/* GLOBAL */
html
  display: flex
  font-family: 'Work Sans', sans-serif
  min-height: 100%
  min-width: 100%

body
  .reference.external
    +link

  h2
    color: $primary
    font-size: 2em

body:not(#index)
  .section, section
    table
      border: 1px solid #BDC6CA
      border-collapse: collapse
      margin: 0 auto

      thead
        vertical-align: middle

      tbody
        text-align: center

        td
          padding: 1em

        tr:nth-child(odd)
          background: darken(#f6f9fa, 5%)

    ul
      line-height: 2em

    footer.post-info
      margin-bottom: 1em

  nav
    background: #218ce0

    ul li
      a
        color: #fff
        transition: color 0.3s

      &.active
        a
          border-bottom: 1px solid #fff

      &:hover a
        color: darken(#218ce0, 35%)

  header
    display: none

body
  background: #F6F9FA
  display: flex
  flex-direction: column
  margin: 0
  min-height: 100%
  min-width: 100%

  p
    line-height: 1.5em

    a, a:active
      color: #218ce0

  iframe
    border: 0
    height: 30em
    width: 100%

  img
    max-width: 100%

  > *
    box-sizing: border-box
    margin: 0 auto
    max-width: 1200px
    padding: 0.5em 2%
    width: 100%

  > h1
    margin-top: 1em

  > header, > nav, > footer
    flex-grow: 0
    max-width: none
    padding: 0

  > nav, > footer
    display: flex

    ul
      display: flex
      flex-wrap: wrap
      padding: 0

      li
        display: block

        a
          display: block
          padding: 0.5em 1em

  > header
    left: 0
    margin-left: 0
    margin-right: 0
    position: absolute
    top: 0

    h1
      margin: 0

      a
        padding: 0 2em

  nav
    align-items: center
    background: $primary
    box-sizing: border-box
    margin-left: 0
    margin-right: 0
    min-height: 80px
    padding: 0.5em 1em
    width: auto

    ul
      margin-left: 130px

      li
        a
          color: #fff
          text-decoration: none
          transition: color .4s

        &.active
          border-bottom: 1px solid #000
          font-weight: 600

          a
            color: #000

        &:hover
          a
            color: #000


  > footer
    background: #000
    background-clip: content-box
    color: #fff
    justify-content: center
    margin-left: 0
    margin-right: 0
    margin-top: auto

    a
      color: #fff
      font-weight: 600
      text-decoration: none
      transition: color .4s

      &:hover
        color: $primary

    p
      padding: 0.5em 1em

      a
        color: #fff

#index
  h1
    display: none

  h1.catchline
    border: 1px solid #fff
    display: inline-block
    color: white
    margin-top: 0
    font-size: 1.2em
    font-weight: 500
    padding: 1em 2em
    text-align: center
    text-transform: uppercase

  .inscription
    background: darken(#F26C2F, 10%)
    color: #fff !important
    display: inline-block
    padding: 0.5em
    text-decoration: none
    font-size: 1.5em
    font-family: Hind
    margin: 0.8em auto
    transition: 0.5s

    &:hover
      background: #F26C2F

  > section
    box-sizing: border-box
    margin: 0 auto
    max-width: none

    > *
      max-width: 1200px
      margin: 1em auto

  header

    order: -2
    position: static

    h1
      display: block
      text-align: center

      a
        content: url(../images/logo2017.svg)
        height: 200px

  nav
    justify-content: center

    ul
      justify-content: center
      margin-left: 0
    h1
      display: none

  section:first-of-type
    background: url(../images/header_bg.png) center no-repeat
    background-size: cover
    color: #fff
    margin-left: 0
    margin-right: 0
    order: -1
    padding: 50px 1em 0 1em
    text-align: center

    > *
      max-width: 1200px

    h2
      color: #fff
      font-size: 2.5em
      font-weight: 600
      margin: 0 auto

    p
      font-size: 1.1em
      line-height: 1.8em
      margin-bottom: 0

    a
      color: $secondary
      font-weight: 600
      text-decoration: none
      transition: color .5s
      text-decoration: underline

      &:hover
        color: lighten($secondary, 5%)

    &:after
      content: ''
      display: block
      height: 50px
      width: 100%

  section:last-of-type
    /*text-align: center*/

    h2
      a
        color: $primary
        text-decoration: none

    ul
      list-style: none
      margin-left: 0

    li
      display: inline-block

    .soutien
      +button


  section.soutiens
    ul
      padding: 0
      max-width: inherit

#soutiens
  #partenaires
    .section
      width: 300px
      float: left
      margin-right: 25px
      text-align: center
  #coeur
    .section
      width: 300px
      float: left
      margin-right: 25px
      text-align: center

.section.confs
  h2
    float: left
  margin-bottom: 50px

.section.sprints:after, .section.confs:after
  content: ''
  background: url(../images/separateur_pyconfr.svg)
  background-position: 50% 50%
  background-size: contain
  background-repeat: no-repeat
  height: 34px
  display: block
  width: 100%
  margin-top: 30px
  margin-bottom: 40px

.programme
  th:nth-child(odd)
    background: darken(#f6f9fa, 5%)
  th, th:nth-child(1)
    background: #f6f9fa
  td, th
    width: 20%
    font-family: Hind
    vertical-align: top
    padding: 0.8em
  .slot
    width: 10%
  .break
    color: black
    font-size: 1.2em
    text-transform: uppercase
    vertical-align: middle
  .short
    background-color: #218ce0
  .double-short
    border-top: 1px solid #004d8a
  .long
    background-color: #004d8a
  .workshop
    width: 15%
    background-color: #e2e7e9
    a
      color: black !important
    a:hover
      color: gray !important
  .workshop + .workshop
    border-left: 1px solid white
  .special
    color: white
    font-size: 1.2em
    text-transform: uppercase
    vertical-align: middle
    background-color: #A5C330
  .title
    text-transform: uppercase
    font-size: 1.2em
  .person
    font-size: 0.8em
  a
    color: white !important
    font-weight: 400 !important
  a:hover
    color: #e2e7e9 !important

.programme.home
  th, td
    width: 25%
    vertical-align: middle
    text-transform: uppercase
    text-align: center
    color: white
  th
    color: black
    background-color: darken(#f6f9fa, 5%)
  .break
    color: black

.programme.legende
  font-size: 12pt
  width: 300px
  float: right
  margin-bottom: 20px !important
  th, td
    padding: 0.3em !important
    text-transform: uppercase
    text-align: center
    color: white
  th, .workshop
    color: black

.interventions
  max-width: 800px
  margin: 0 auto
  .title
    width: 100%
    color: white
    margin-top: 40px
    font-family: Hind
    background-color: #218ce0
    text-transform: uppercase
    font-size: 1.2em
    padding: 0.8em
  .description
    margin-top: 10px
    white-space: pre-line
  .description:after
    content: ''
    background: url(../images/separateur_pyconfr.svg)
    background-position: 50% 50%
    background-size: contain
    background-repeat: no-repeat
    height: 34px
    display: block
    width: 100%
    margin-top: 30px
    margin-bottom: 40px

@media screen and (max-width: 640px)
  body
    footer
      flex-direction: column
      align-items: center

      > *
        margin: 0

    nav ul
      margin: 100px 0 0 0
