{% extends 'index.html' %}
{% block title %}{{ page.title|striptags }} // {{ super() }}{% endblock title %}

{% block content %}
<div class="pure-g-r" id="layout">
    {% include 'sidebar.html' %}
    <div class="pure-u-1">
        <div class="content">
            <h1 class="content-subhead">{{ page.title }}</h1>
            <p>{{ page.content }}</p>
            {% if page.slug == "venir" %}
            <iframe id="carte" width="100%" height="650px" frameBorder="0" src="https://umap.openstreetmap.fr/fr/map/pyconfr_2016_campus_84009?scaleControl=true&miniMap=false&scrollWheelZoom=true&zoomControl=true&allowEdit=false&moreControl=false&datalayersControl=false&onLoadPanel=undefined&captionBar=false&datalayers=198023#14/48.1123/-1.6435"></iframe><p><a href="https://umap.openstreetmap.fr/fr/map/pyconfr_2016_campus_84009#15/48.1192/-1.6250">Voir en plein écran</a></p>
            {% endif %}
        </div>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}
